table {
  width: 100%;
  border-collapse: collapse;
  border: 1px dotted gray;
}

td:nth-child(1) {
  font-weight: bold;
  width: 200px;
  text-align: right;
}

td {
  padding: 10px;
  border: 1px dotted gray;
}
