<div class="text-center">
  <h1>@ng-idle/code demo</h1>
  <button (click)="watch()">Restart demo</button>
</div>
<br/>
<br/>
<table>
  <tr>
    <td>Idle after:</td>
    <td><input type="number" min="2" max="2400" [(ngModel)]="idleAfterSeconds"/> seconds</td>
  </tr>
  <tr>
    <td>Timeout after:</td>
    <td><input type="number" min="6" max="2400" [(ngModel)]="timeoutAfterSeconds"/> seconds</td>
  </tr>
  <tr>
    <td>State:</td>
    <td>{{ idleState }}</td>
  </tr>
  <tr>
    <td>Countdown:</td>
    <td>{{ countdown }}</td>
  </tr>
  <tr >
    <td>Timeout Warning Countdown:</td>
    <td ><span *ngIf="countdown && countdown <= 5">{{ countdown }}</span></td>
  </tr>
</table>
