<h1>@ng-idle/code demo</h1>
<br/>
<br/>
<table>
  <tr>
    <td>Idel after:</td>
    <td>10 seconds</td>
  </tr>
  <tr>
    <td>Timeout after:</td>
    <td>10 seconds</td>
  </tr>
  <tr>
    <td>Demo restart after:</td>
    <td>10 seconds</td>
  </tr>
  <tr>
    <td>State:</td>
    <td>{{ idleState }}</td>
  </tr>
  <tr>
    <td>Current Countdown:</td>
    <td>{{ countdown }}</td>
  </tr>
  <tr *ngIf="countdown && countdown <= 5">
    <td>Visible Countdown:</td>
    <td>{{ countdown }}</td>
  </tr>
</table>
